TempoDisc/Pods
.DS_Store
*.xcuserstate
xcschememanagement.plist
*.xcbkptlist
TempoDisc/Tempo Utility.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TempoDisc/Tempo Utility.xcodeproj/xcuserdata/nikolamisic.xcuserdatad/xcschemes/Tempo Utility.xcscheme
TempoDisc/Tempo Utility.xcodeproj/xcuserdata/nikolamisic.xcuserdatad/xcschemes/TempoDisc.xcscheme
TempoDisc/TempoDisc/Base.lproj/Main_BACKUP_51578.storyboard
TempoDisc/TempoDisc/Base.lproj/Main_BASE_51578.storyboard
TempoDisc/TempoDisc/Base.lproj/Main_REMOTE_51578.storyboard
